header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background-color: maroon;
}
#logo{
    width: 50px;
    padding: 5px;
}
ul{
    display: flex;
    text-decoration: none;
}
ul a{
    color: white;
    margin: 5px;
}
.c{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    align-items: center;
    
}
#c1{
    
    flex-direction: row;
    justify-content: space-around;
    background-color: maroon;
    color: white;
}
#c1left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#c1left h1{
    font-size: 49px;
}
#c1left p{
    font-size: 20px;
}
#c1left button{
    width: 200px;
    height: auto;
    font-size: 20px;
    color: maroon;
    background-color: silver;
    border-radius: 9px;
}
#c1left button:hover{
    color: red;
}

#c2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: maroon;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

#cards img{
    width: 300px;
    height: 300px;
    border: 2px solid maroon;
    border-radius: 8px;
}
#card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#c3{
    background-color: lightcoral;
    
}
#c4{
    background-color: white;
}
#c4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: maroon;
    
    margin: 20px 100px;
    
    border-radius: 15px;

}
#c4 button{
    width: 100px;
}

footer{
    display: flex;
    justify-content: center;
}
